<div class="row mt-2">

    <div class="col-md-4">

        <div class="card">

            <div class="card-body">

                <h1>Formulario</h1>

            </div>

        </div>

    </div>

    <div class="col-md-8">

        <div class="table-responsive">

            <table class="table table-striped table-hover table-bordered border-primary">
                <thead class="table-info">
                    <tr>
                        <th>Nombre y apellido</th>
                        <th>Usuario</th>
                        <th>Email</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let empleado of empleadoService.empleados">

                        <td>
                            {{empleado.apellido}}, {{empleado.nombre}}
                        </td>

                        <td>
                            {{empleado.usuario}}
                        </td>

                        <td>
                            {{empleado.email}}
                        </td>

                        <td>
                            <button class="btn btn-danger m-1">
                                <i class="material-icons">edit</i>
                            </button>

                            <button class="btn btn-secondary m-1">
                                <i class="material-icons">delete</i>
                            </button>
                        </td>

                    </tr>

                </tbody>
            </table>

        </div>
        
    </div>

</div>